VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_PAYMONGO_SECRET_KEY=
VITE_PAYMONGO_PUBLIC_KEY=
VITE_PAYMONGO_ENCRYPTION_KEY=
VITE_COMPREFACE_URL=
VITE_COMPREFACE_API_KEY=
VITE_IPROG_SMS_API_KEY=
VITE_MAILJET_API_KEY=
VITE_MAILJET_SECRET_KEY=
VITE_MAILJET_SENDER=
VITE_MAILJET_SENDER_NAME=
VITE_MAILTRAP_TOKEN=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_ID_APPROVAL_TEMPLATE_ID=
